<li class="box"> 
	<div id="hidden">                                                                                     
	  <p class="hidden"></p> <!---Partial hidden sets p class (css visibility:hidden) -->  
	</div>               
</li>